[report]
omit =
    pikaur/argparse.py
    pikaur/i18n.py
    pikaur/pprint.py
    pikaur/print_department.py
    pikaur/prompt.py
    pikaur/progressbar.py
exclude_lines =
    pragma: no cover
    def __repr__
    NotImplemented
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    if running_as_root():
