[report]
omit =
    pikaur/argparse.py
    pikaur/i18n.py
    pikaur/pprint.py
    pikaur/print_department.py
    pikaur/prompt.py
    pikaur/progressbar.py
exclude_lines =
    pragma: no cover
    def __repr__
    NotImplemented
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    if RunningAsRoot
    if not args.noconfirm
    if not self.args.noconfirm
    if args.debug
    if self.args.debug
