__pycache__/
.mypy_cache/
locale/*.mo
locale/pikaur.pot
.idea/
.coverage
htmlcov/
coverage_env/
dist/
MANIFEST
*.egg-info/
pikaur.1
aur_db.dump*
pikaur_static/pikaur/**
pikaur_rust/pikaur/**
docker_ci/
