[MASTER]
jobs=0
extension-pkg-whitelist=pyalpm
ignore=CVS,ignoreme.py
ignore-patterns=
persistent=yes
unsafe-load-any-extension=no
load-plugins=pylint.extensions.docparams,

[PARAMETER_DOCUMENTATION]
accept-no-param-doc=no
accept-no-raise-doc=no
accept-no-return-doc=no
accept-no-yields-doc=no

[MESSAGES CONTROL]
confidence=
disable=too-few-public-methods,missing-docstring,duplicate-code,missing-return-doc,missing-param-doc,missing-yield-doc,missing-raises-doc
enable=useless-suppression
[REPORTS]
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)
output-format=text
reports=no
score=yes
[REFACTORING]
max-nested-blocks=5
[FORMAT]
expected-line-ending-format=LF
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
indent-after-paren=4
indent-string='    '
max-line-length=100
max-module-lines=1000
single-line-if-stmt=no
[TYPECHECK]
contextmanager-decorators=contextlib.contextmanager
generated-members=self.props
ignored-classes=optparse.Values,thread._local,_thread._local
ignored-modules=
missing-member-hint=yes
missing-member-hint-distance=1
missing-member-max-choices=1
[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
min-similarity-lines=4
[LOGGING]
logging-modules=logging
logging-format-style=new
[SPELLING]
#spelling-dict=en_US
#spelling-ignore-words=
#spelling-private-dict-file=./maintenance_scripts/dict.txt
#spelling-store-unknown-words=no
[VARIABLES]
additional-builtins=_
allow-global-unused-variables=yes
callbacks=cb_,_cb
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy
ignored-argument-names=_.*
init-import=no
redefining-builtins-modules=six.moves,future.builtins
[MISCELLANEOUS]
notes=FIXME,XXX
[BASIC]
argument-rgx=(([a-z][a-z0-9_]{2,40})|(_[a-z0-9_]*))$
attr-rgx=(([a-z][a-z0-9_]{2,40})|(_[a-z0-9_]*))$
bad-names=foo,bar,baz,toto,tutu,tata
class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{2,40}|(__.*__))$
class-rgx=[A-Z_][a-zA-Z0-9]+$
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$
docstring-min-length=-1
function-rgx=(([a-z][a-z0-9_]{2,40})|(_[a-z0-9_]*))$
good-names=i,j,k,ex,Run,_
include-naming-hint=no
inlinevar-rgx=[A-Za-z_][A-Za-z0-9_]*$
method-rgx=(([a-z][a-z0-9_]{2,40})|(_[a-z0-9_]*))$
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
name-group=
no-docstring-rgx=^_
property-classes=abc.abstractproperty
variable-rgx=(([a-z][a-z0-9_]{2,40})|(_[a-z0-9_]*))$
[CLASSES]
defining-attr-methods=__init__,__new__,setUp,__enter__
exclude-protected=_asdict,_fields,_replace,_source,_make
[DESIGN]
max-args=5
max-attributes=16
max-bool-expr=6
max-branches=12
max-locals=15
max-parents=7
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=2
[EXCEPTIONS]
overgeneral-exceptions=
# vim: set ft=config :
