[tool.ruff]
line-length = 100
select = [
	"F",
	"E", "W",
	"C90",
	"I",
	"D",
	"UP",
	"N",
	"YTT",
	"ANN",
	"S",
	"BLE",
	"FBT",
	"B",
	"A",
	"C4",
	"T10",
	"ICN",
	"T20",
	"Q",
	"RET",
	"TID",
	"ARG",
	"ERA",
	"PGH",
	"PLC", "PLE", "PLR", "PLW",
	"RUF",
	#"C",
	#"T",
	#"RUF100",
]
ignore = [
	# enable back later:

	"C901",  # "too complex"
	"ERA001", # commented out code

	"ANN101",  # annotate self
	"ANN102",  # annotate cls
	"ANN401",  # disable Any

	"BLE001",  # disallow catching Exception

	# docstrings
	"D100",
	"D101",
	"D102",
	"D103",
	#
	"D105",
	"D107",
	"D203", # conflicts with D211
	"D205",
	"D212", # conflicts with D213
	"D400",
	"D415",

	#"Q000",  # force double-quotes
]

[tool.ruff.per-file-ignores]
"pikaur_test/test_*.py" = [
	"ANN201",
	"ANN206",
	"T201",
]
"maintenance_scripts/*.py" = [
	"T201",
]
"maintenance_scripts/pikaman.py" = [
	"ARG002",
]
"pikaur_test/helpers.py" = [
	"RUF100",  # @TODO
]
